.spinner {
    display: inline-block;
    border: 2px solid var(--javdan-color-secondary);
    border-top-color: var(--javdan-color-primary);
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
}

.sm {
    width: 16px;
    height: 16px;
}

.md {
    width: 24px;
    height: 24px;
}

.lg {
    width: 36px;
    height: 36px;
    border-width: 3px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}