.spinner {
    display: inline-block;
    border: var(--fara-border-width-medium) solid var(--fara-color-secondary);
    border-top-color: var(--fara-color-primary);
    border-radius: var(--fara-radius-full);
    animation: spin 0.9s linear infinite;
}

.sm {
    width: var(--fara-icon-size-sm);
    height: var(--fara-icon-size-sm);
}

.md {
    width: var(--fara-icon-size-md);
    height: var(--fara-icon-size-md);
}

.lg {
    width: var(--fara-icon-size-xl);
    height: var(--fara-icon-size-xl);
    border-width: var(--fara-border-width-thick);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}