.skeleton {
    background: linear-gradient(90deg,
            var(--fara-color-background-tertiary) 25%,
            var(--fara-color-secondary) 50%,
            var(--fara-color-background-tertiary) 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s ease-in-out infinite;
    border-radius: var(--fara-radius-sm);
}

.text {
    height: 1em;
    width: 100%;
}

.circle {
    border-radius: var(--fara-radius-full);
}

.rectangle {
    border-radius: var(--fara-radius-sm);
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}